body {
    margin: 0;
    justify-content: center;
    height: 100%;
    display: flex; 
}

span {
    display: inline-block;
    vertical-align: middle;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, orange, 10%, #e878a6);
    z-index: -100;
}

.save-the-date-container {
    max-width: 80%;
    padding: 3vh 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.announcement-subtext {
    padding: 0;
    font-family: 'Bellefair', serif;
    color: white;
    font-size: 2.5vh;
    line-height: 2.5vh;
    margin: 0.7vh 0;
    padding-top: 0.2vh;
}

.announcement-text {
    padding: 0;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: white;
    font-size: 5vh;
    line-height: 5vh;
    margin: 0.05vh 0;
    padding-top: 0.8vh;
}

.announcement-ampersand {
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: white;
    font-size: 2.4vh;
    line-height: 2.4vh;
    padding-top: 0.384vh;
}

.date-container {
    margin: 3vh 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bellefair', serif;
}

.date-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bordered-date {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    color: white;
    padding: 0.5vh 0;
    width: 4.5rem;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    margin: 0 1.5rem;
}

.date-day {
    color: white;
    font-size: 5vh;
}

.date-year {
    color: white;
    font-size: 2vh;
    margin-top: 0.6vh;
}

.location {
    color: white;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    font-size: 2vh;
    margin-bottom: 3vh;
}

.details-container {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    font-family: 'Bellefair', serif;
    color: white;
    font-size: 2vh;
}

.details-1 {
    margin-bottom: 1.7vh;
}


.login-container {
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.wedding-pin-login-title {
    color: white;
    font-family: 'Bellefair', serif;
    font-size: 1.5vh;
}

input.pin-input {
    width: 1em;
    height: 2em;
    padding: 1vh;
    margin: 2vh 0.1rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2.8vh;
    line-height: 2.8vh;
    text-align: center;
    color: #054D6A;
    caret-color: transparent;
    font-family: 'Lexend', serif;
    font-weight: 500;
    cursor: default;
}
input.pin-input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
input.pin-input:focus {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
    outline-offset: 0px;
    outline: none;
}
input.pin-input::selection {
    background-color: rgba(255, 255, 255, 0);
}


input.pin-input::placeholder {
    color: #054D6A;
    opacity: 1;
}

.pin-action-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pin-action-button {
    width: 48%;
    outline: none;
    border: none;
    padding: 1.5vh 3vh;
    border-radius: 1rem;
    font-size: 1.8vh;
    font-family: 'Bellefair', serif;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}

.enter-button {
    background-color: #0B5775;
    color: white;
}
.enter-button:hover {
    background-color: #054D6A;
}

.paste-button {
    background-color: white;
    color: #0B5775;
}
.paste-button:hover {
    background-color: rgb(240, 240, 240);
    color: #0B5775;
}








.wave-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.wave-back-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.wave-front-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9vh;
    display: block;
    z-index: 30;
    opacity: 0.7;
}

.boat {
    position: absolute;
    height: 8.5vh;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%);
    z-index: 2;
}

.bird-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.bird-container img {
    width: 20px;
    height: auto;
}

.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.animation-container img {
    width: 3vh;
    height: auto;
}