body {
    margin: 0;
    justify-content: center;
    height: 100%;
    display: flex; 
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, orange, 10%, #e878a6);
    z-index: -100;
}

.login-container {
    max-width: 80%;
    padding: 3vh 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 0;
    transition: transform 0.8s ease-in-out;
    transform: translateX(-50%);
    visibility: hidden;
}
.login-container p {
    padding: 0;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: white;
    margin: 0;
}
.login-container .couple-name {
    font-size: 5vh;
    line-height: 5vh;
    padding-top: 0.8vh;
}
.login-container .ampersand {
    font-size: 2.4vh;
    line-height: 2.4vh;
    padding-top: 0.384vh;
}
.login-container .announcement {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.5vh;
    margin-bottom: 2vh;
    padding-top: 0.2vh;
}
.login-container .enter-pin {
    margin-top: 5vh;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 1.5vh;
}
.login-container .login-error {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 1.6vh;
    line-height: 1.6vh;
    height: 1.6vh;
}

.pin-container {
    width: 100%;
    min-width: 18em;
    display: flex;
    justify-content: space-between;
}
.pin-container input {
    width: 1em;
    height: 2em;
    padding: 1vh;
    margin: 2vh 0.21em;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2.8vh;
    line-height: 2.8vh;
    text-align: center;
    color: #054D6A;
    caret-color: transparent;
    font-family: 'Lexend', serif;
    font-weight: 500;
    cursor: default;
}
.pin-container input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.pin-container input:focus {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
    outline-offset: 0px;
    outline: none;
}
.pin-container input::selection {
    background-color: rgba(255, 255, 255, 0);
}
.pin-container input::placeholder {
    color: #054D6A;
    opacity: 1;
}

.pin-action-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.pin-action-container button {
    width: 48%;
    outline: none;
    border: none;
    padding: 1.5vh 3vh;
    border-radius: 1rem;
    font-size: 1.3vh;
    font-family: 'Bellefair', serif;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.pin-action-container .enter-button {
    background-color: #0B5775;
    color: white;
}
.pin-action-container .enter-button:hover {
    background-color:  #054D6A;
}
.pin-action-container .paste-button {
    background-color: white;
    color: #0B5775;
}
.pin-action-container .paste-button:hover {
    background-color: rgb(240, 240, 240);
    color: #0B5775;
}


.logged-in-container {
    max-width: 80%;
    padding: 3vh 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* display: none; */
    position: absolute;
    left: 50%;
    transition: transform 0.8s ease-in-out;
    transform: translateX(calc(-50% + 100vw));
}
.logged-in-container p {
    padding: 0;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: white;
    margin: 0;
}
.logged-in-container .couple-name {
    font-size: 5vh;
    line-height: 5vh;
    padding-top: 0.8vh;
}
.logged-in-container .ampersand {
    font-size: 2.4vh;
    line-height: 2.4vh;
    padding-top: 0.384vh;
}
.logged-in-container .announcement {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 2vh;
    line-height: 2vh;
    margin-bottom: 2vh;
    padding-top: 0.2vh;
}

.entering-loader {
    display: inline-block;
    font-size: 1.3vh;
    font-family: 'Bellefair', serif;
    color: white;
}
.entering-loader::after {
    content: '';
    display: inline-block;
    width: 1.2em;
    text-align: left;
    animation: dots 0.5s steps(3, end) infinite;
}
@keyframes dots {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}



.transition-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
.transition-wrapper.logged-in .login-container {
    transform: translateX(calc(-50% - 100vw));
}
.transition-wrapper.logged-in .logged-in-container {
    transform: translateX(-50%);
}

.transition-wrapper.instant .login-container,
.transition-wrapper.instant .logged-in-container {
    transition: none !important;
}





.wave-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.wave-back-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.wave-front-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9vh;
    display: block;
    z-index: 30;
    opacity: 0.7;
}

.boat {
    position: absolute;
    height: 8.5vh;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%);
    z-index: 2;
}

.bird-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.bird-container img {
    width: 20px;
    height: auto;
}

.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.animation-container img {
    width: 3vh;
    height: auto;
}